AZURE_OPENAI_ENDPOINT=https://oai-gopoc-prod-northcentralus-001.openai.azure.com/
AZURE_OPENAI_KEY=your-key-here
AZURE_OPENAI_API_VERSION=2024-12-01-preview
DATABASE_URL=postgresql://insightsql:insightsql_hpe@10.25.69.114:5432/insightsql
